{{  recipe.title }}
<h1>{{  title }}</h1>
<br/><br/>

Ingredient List:
<br/><br/>
{%   for j in ingredList %}

    {{ j.amount }} {{ j.name }}<br/>

{% endfor %}


<br/><br/><br/>
Steps:<br/><br/>
{% for step in directions %}

    {{ step.step_num }}. {{ step.step }}<br/><br/>


{%  endfor %}

